<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="mainDiv">
        <div id="loginContainer">
          <!-- <form action="action_page.php" method="post"> -->
            <form>
              <div class="titrecontainer">
            <div class="logoContainer">
                <img class="logo" src="../../assets/images/logo.png">
            </div>
            <h1>CONNEXION ADMINISTRATION</h1>
        </div>
      
        <div class="container">
          <label for="uname"><b>Email :</b></label>
          <input type="text" placeholder="Adresse Email de connexion" name="email" required>
      
          <label for="psw"><b>Mot de passe :</b></label>
          <input type="password" placeholder="Mot de passe" name="psw" required>
      
          <button type="submit" (click)="redirect()">Login</button>
          <label>
            <input type="checkbox" checked="checked" name="remember"> Se souvenir de moi
          </label>
        </div>
      </form>
    </div>
    </div>
    
</body>
</html>
