<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <app-header></app-header>

    <h1 style="text-align:center">Gestion de plats</h1>
    <div id="global">
        <div id="left">
            <app-add-plat></app-add-plat>
        </div>
        <div id="right">
            <app-modify-plat></app-modify-plat>
        </div>
    </div>

</body>
</html>
