.demo-table {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}


#global{
width:97vw;
}
#menu{
// text-align: ;
position: fixed;
background-color: rgba(0, 0, 0, 0.9);
height: 100vh;
width: 12vw;
}


#gestionMenu{
font-size: 35px;
padding-left: 10px;
color:white

}



#selectionPlat,#selectionSupplement,#selectionDessert,#selectionBoisson,#boutonAccueil{
color:white;
background-color: rgba(0, 0, 0, 0.24);
padding: 10px;
padding-top: 18px;
padding-bottom: 18px;
font-size: 20px;
font-style: italic;
cursor: pointer;
transition: 0.3s;
}

#selectionPlat:hover,#selectionSupplement:hover,#selectionDessert:hover,#selectionBoisson:hover,#boutonAccueil:hover{
background-color: white;
color:black;
font-style:normal;
}

#nouveau{
margin-left: 45%;
padding-top:5%;
font-size: 40px;
}

#nouveauButton{
font-size: 20px;
}

#boutonAccueil{
margin-top: 30vh;
padding-top: 25px;
padding-bottom: 25px;
font-size: 25px;
transition: 0.3s;
}
#selectionDessert{
background-color: white;
color:black;
font-style:normal;
}



#main{
margin-left: 11vw;
}

#titre{
position: fixed;
margin:0;
padding:20px;
padding-left: 19px;
padding-bottom: 40px;
font-size: 40px;
}

.mainTable{
padding-top: 5vh;
}

#delete,#copy{
color:rgb(179, 20, 20);
cursor: pointer;
}

#modifier{
color:rgb(78, 154, 75);
cursor: pointer;
margin-right: 10px;
}

#copy{
color:rgb(146, 146, 146);
cursor: pointer;
margin-right: 10px;
}

#delete:hover,#modifier:hover,#copy:hover{
text-decoration: underline;
}

#inputDiv{
margin-left: 10%;
}