@font-face {
    font-family: UnaV;
    src: url(./assets/fonts/tw_cen_mt.otf);
}
@font-face {

    font-family: UnaVBold;
    src: url(./assets/fonts/tw_cen_mt_bold.otf);
}
@font-face {

    font-family: UnaVItalic;
    src: url(./assets/fonts/tw_cen_mt_italic.otf);
}

body{
    padding: 0;
    margin: 0;
}