<p>AJOUT SUPPLEMENT</p>

<form>
    <div>
        <label><b>Type :</b></label>
        <select name="pets" id="pet-select">
            <option value="pizza">Pizza</option>
            <option value="hamburger">Hamburger</option>
        </select>
    </div>

    <div>
        <label><b>Nom :</b></label>
        <input type="text" placeholder="nom du plat" name="name"> 
    </div>

    <div>
        <label><b>Description :</b></label>
    <input type="text" placeholder="Description du plat" name="description">
    </div>

    <div>
        <label><b>Prix :</b></label>
    <input type="number" placeholder="prix" name="description">
    </div>


<button type="submit">Ajouter</button>
<!-- <label>
  <input type="checkbox" checked="checked" name="remember"> Se souvenir de moi
</label> -->
</form>