.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

.single_link {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
}

input {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    border-radius: 15px;
    padding: 20px;
    height: 150px;
    width: 300px;
    margin: 50px;
    background-color: white;
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.link:hover {
    transform: scale(1.05);
    transition: 0.3s;
}

a {
    text-decoration: none;
    color: black;
}

.btn_deconnexion {
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(206, 0, 0);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.btn_deconnexion:hover {
    background-color: rgb(166, 0, 0);
}