<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <p><a href="/gestion/plats">gestion plats</a></p>
    <p><a href="/gestion/supplements">gestion suppléments</a></p>
    <p><a href="/gestion/utilisateurs">gestion utilisateurs</a></p>    
    <p><a href="login">deconnexion</a></p>    
    <div class=""></div>
</body>
</html>