#header{
    height: 15vh;
    width: 100%;
    background-color: white; 
    border-bottom: 1vh solid black;

}

body{
    margin:0;
    overflow: hidden
}

#titre{
    margin: 0;
    padding-top:60px;
    padding-left:20px;
    font-size: 33px;
}


//sans le header ici, en position absolute
#logout{
    position: absolute;
        padding-top: 16px;
        right:0px;
        height: 6vw;
        width:6vw;
        text-align: right;
    }
    
    #logoutImage{
        margin-top: 10px;
        margin-right:20px;
        height: 70%;
    }

#global{
    height: 84vh;
    
}

#verti1,#verti2{
    width: 100%;
    height: 50%;
    // background-color: black;
    // margin: 10px;
}
#hori1,#hori2,#hori3,#hori4{
    vertical-align: top;
    top:0px;
    width: 40%;
    height: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color:white;
    
}

#hori1,#hori3{
    margin-left:10vw;
}


#gestionMenu,#gestionResto,#gestionVariable,#gestionUser{
    width: 90%;
    height: 95%;
    background-color: black;
    background-position: center center;
    background-size: 100% auto;
    background-repeat: no-repeat;
    transition: 0.3s;
    cursor: pointer;
}

// #gestionMenu{
// background-image: url('../../assets/images/menu.png');
// }
// #gestionResto{
//     background-image: url('../../assets/images/restaurant.png');
// }
// #gestionVariable{
//     background-image: url('../../assets/images/variable.png');
// }
// #gestionUser{
//     background-image: url('../../assets/images/user.png');
// }

#gestionMenu:hover,#gestionResto:hover,#gestionVariable:hover,#gestionUser:hover{
    width: 100%;
    height: 100%;
}


#textGestion{
    color:white;
    text-align: center;
    font-size: 40px;
    margin: auto;
}