<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="logout">
        <a href="login"> <img id="logoutImage" class="logo" src="../../assets/images/logout.png"></a>
    </div>
    <div id="header">
        <h1 id="titre">GESTION ADMINISTRATION</h1>
        <!-- <div id="logout">
            <a href="login"> <img id="logoutImage" class="logo" src="../../assets/images/logout.png"></a>
        </div> -->
    </div>

    <div id="global">
        <div id="verti1">
            <div id="hori1">
                <div id="gestionMenu" (click)="goTo('/gestion/menu')">
                    <h1 id="textGestion">Gestion menu</h1>
                </div>
            </div>
            <div id="hori2">
                <div id="gestionResto" (click)="goTo('/gestion/utilisateurs')">
                    <h1 id="textGestion">Gestion restaurants</h1>
                </div>
            </div>
        </div>
    
        <div id="verti2">
            <div id="hori3">
                <div id="gestionVariable" (click)="goTo('/gestion/utilisateurs')">
                    <h1 id="textGestion">Gestion variables</h1>

                </div>
            </div>
            <div id="hori4">
                <div id="gestionUser" (click)="goTo('/gestion/utilisateurs')">
                    <h1 id="textGestion">Gestion utilisateurs</h1>

                </div>
            </div>
        </div>
    </div>

    


    <div class=""></div>
</body>
</html>