<div class="container">
    <div class="single_link">
        <div class="link">
            <input type="submit" value="Gestion des plats" onclick="window.location='/gestion/plats';" />
        </div>

        <div class="link">
            <input type="submit" value="Gestion des restaurants" onclick="window.location='/gestion/restaurants';" />
        </div>
    </div>

    <div class="single_link">
        <div class="link">
            <input type="submit" value="Gestion des suppléments" onclick="window.location='/gestion/ingredients';" />  
        </div>

        <div class="link">
            <input type="submit" value="Gestion des utilisateurs" onclick="window.location='/gestion/utilisateurs';" />
        </div>
    </div>

    <div class="btn_deconnexion">
        <a href="login">Déconnexion</a>
    </div>

</div>