<div class="mainContainer">
    <h2>AJOUT</h2>


    <form [formGroup]="produitForm"  (ngSubmit)="onSubmit()">


      
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Types</mat-label>
        <mat-select formControlName="type" [errorStateMatcher]="matcher">
          <mat-option *ngFor="let type of types" [value]="type.id">
            {{type.nom}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      </div>

      <div>
        <mat-form-field appearance="fill">
          <mat-label>Restaurants</mat-label>
          <mat-select formControlName="restaurant" [errorStateMatcher]="matcher">
            <mat-option *ngFor="let restaurant of restaurants" [value]="restaurant.id">
              {{restaurant.ville}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        </div>


    <div>
        <mat-form-field>
          <mat-label>Nom</mat-label>
          <input matInput  type="text" placeholder="nom" formControlName="nom" [errorStateMatcher]="matcher">
        </mat-form-field>
      </div>


      <div>
        <mat-form-field appearance="fill">
          <mat-label>Description</mat-label>
          <textarea matInput
                    cdkTextareaAutosize
                    #autosize="cdkTextareaAutosize"
                    cdkAutosizeMinRows="1"
                    cdkAutosizeMaxRows="5"
                    placeholder="description"
                    formControlName="description" [errorStateMatcher]="matcher"></textarea>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field>
          <mat-label>Prix</mat-label>
          <input matInput  type="number" placeholder="prix" formControlName="prix" [errorStateMatcher]="matcher">
        </mat-form-field>
      </div>


      <!-- <mat-label>Restaurants</mat-label>
      <div *ngFor="let resto of restaurants">
        <mat-checkbox (change)="restoChecked($event)" [value]="resto.id.toString()">{{resto.ville}}</mat-checkbox>
      </div> -->


      <ng-container *ngIf="!data">
        <button mat-raised-button type="submit" [disabled]="!produitForm.valid">Ajouter</button>
          </ng-container>

          <ng-container *ngIf="data">
            <button mat-raised-button type="submit" [disabled]="!produitForm.valid">Modifier</button>
              </ng-container>

    </form>

</div>
