<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <app-header></app-header>
    <p><a href="/gestion/menu/plats">Plats</a></p>
    <p><a href="/gestion/menu/supplements">Supplements</a></p>
    <p><a href="/gestion/menu/desserts">Desserts</a></p>
    <p><a href="/gestion/menu/boissons">Boissons</a></p>
    
    <div class=""></div>
</body>
</html>